@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --blue: #0065fc;
  --lightgrey: #f2f2f2;
  --lightblue: #deebff;
}
/* Toute la page */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
* {
  font-family: "Raleway", "sans-serif";
}
a {
  color: black;
  text-decoration: none;
}
.annonce_hebergements:hover {
  /* L'image est grossie de 25% */
  -webkit-transform: scale(1.15); /* Safari et Chrome */
  -moz-transform: scale(1.15); /* Firefox */
  -ms-transform: scale(1.15); /* Internet Explorer 9 */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
}
.annonce_populaire:hover {
  /* L'image est grossie de 25% */
  -webkit-transform: scale(1.15); /* Safari et Chrome */
  -moz-transform: scale(1.15); /* Firefox */
  -ms-transform: scale(1.15); /* Internet Explorer 9 */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
}
/* Header */
#lien_hebergements {
  color: var(--blue);
}
#logo_booki {
  margin-right: auto;
  padding-left: 40px;
  width: 150px;
  height: auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
nav a {
  padding: 20px;
}
#nav_phone a {
  border-top: 3px solid white;
}
#nav_phone a:hover {
  border-top: 3px solid var(--blue);
}

#nav_phone {
  display: flex;
}
/* Media Queries Navigation & logo */
@media (max-width: 768px) {
  nav a:hover {
    border-bottom-color: var(--blue);
  }
  #nav_phone {
    flex-basis: 100%;
  }
  nav a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid var(--lightgrey);
    font-size: 15px;
    font-weight: 300;
  }
  #logo_booki {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: auto;
  }
}
/* Fin des medias Queries Navigation & Logo  */

/* Fin Header */

/* Main */
main {
  padding: 0px 40px;
}
/* Section 1 : Headings + Search */
h1 {
  font-size: 22px;
  font-weight: 600;
}
h1 + p {
  margin-top: -5px;
  margin-bottom: 20px;
  font-weight: 300;
}
/* Media Queries Headings + Search */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 100%;
    padding-left: 0px;
    margin-left: -10px;
    align-content: center;
  }
  h1 + p {
    margin-bottom: 30px;
    font-size: 14.5px;
    margin-left: -10px;
    width: 100%;
  }
}
/* Fin des Media Queries Headings + Search */

/* Search bar */
#search_bar {
  display: flex;
}
#search_bar i {
  background-color: var(--lightgrey);
  border-radius: 15px 0px 0px 15px;
}
#search_bar label i {
  padding: 22px 20px;
}

#search_bar input {
  border: thin solid var(--lightgrey);
  flex-basis: 230px;
  outline-color: transparent;
  padding: 18px 20px;
}
#search_bar input::placeholder {
  color: black;
  font-weight: 600;
  font-size: 18px;
}
#search_bar button {
  background-color: var(--blue);
  color: white;
  border-radius: 0px 15px 15px 0px;
  border-width: thin;
  border-color: var(--blue);
  padding: 0px 18px;
  font-size: 18px;
  font-weight: 600;
}
#search_button + .fas.fa-search {
  display: none;
}
/* Media Queries Search Bar */
@media (max-width: 768px) {
  #search_bar {
    margin-left: -10px;
    height: 50px;
  }
  #search_bar label i {
    padding: 17px 18px;
  }

  button #search_button {
    display: none;
    background-color: var(--blue);
    border-radius: 15px;
  }
  #search_button + .fas.fa-search {
    background-color: inherit;
    display: inline;
  }
  #search_bar button {
    border-radius: 15px 15px 15px 15px;
    margin-left: -20px;
  }
}
/* Fin des Medias Queries Search bar */

/* Fin Search bar */

/* Filtres */
#filters_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}
#filters_list .filter .fas {
  color: var(--blue);
  border-radius: 50%;
  background-color: var(--lightblue);
  margin-left: -3px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter {
  border: 2px solid var(--lightgrey);
  height: 45px;
  border-radius: 30px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}
.filter span {
  font-weight: 500;
  padding-left: 15px;
}
.filter:hover {
  background-color: var(--lightgrey);
  transform: scale(1.02);
  cursor: pointer;
}
#filters_list h2 {
  font-size: 18px;
  font-weight: 500;
}
/* Fin des filtres */

/* Note information */
#information {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
#information .fas.fa-info {
  color: var(--blue);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--lightgrey);
}
#information p {
  font-weight: lighter;
  font-size: 14px;
}
/* Fin de la note d'information */

/* Section des hébergements & activités  */

/* Section hébergements - Liste d'appartements */
#appartments_list {
  display: flex;
  gap: 40px;
}
@media (max-width: 768px) {
  #appartments_list {
    flex-direction: column-reverse;
  }
}
/* Section hébergements à Marseille */
#appartments_list #city {
  background-color: var(--lightgrey);
  flex-basis: 66%;
  padding: 12px 40px 12px 12px;
  border-radius: 20px;
  height: 650px;
}
#city_appartments_list .fa.fa-star {
  font-size: 14px;
}
#city_appartments_list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-around;
  margin-bottom: 15px;
}
#city .title_city {
  margin-left: 10px;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 22px;
}
#appartments_list .afficher_plus {
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
}
/* Card appartments des Hébergements à Marseille */
.stars .fa.fa-star {
  color: var(--blue);
}
.stars #star_grey {
  color: var(--lightgrey);
}
.annonce_hebergements {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px grey;
  padding: 5px;
  width: 30%;
  margin-left: 10px;
  margin-bottom: 20px;
}
.annonce_hebergements img {
  border-radius: 20px 20px 0px 0px;
  padding: 1px;
  height: 120px;
  width: 100%;
  object-fit: cover;
}
.annonce_hebergements p {
  margin: 3px;
  padding: 3px;
  font-size: 15px;
}
.annonce_hebergements .stars {
  margin-left: 5px;
  padding-bottom: 10px;
  margin-top: 5px;
}
/* Commun aux Card Appartements Hébergements Marseille et Populaire */
.hebergement_name {
  font-weight: 600;
  font-size: 17px;
  margin: 3px;
  padding: 3px;
}
.popular_description .hebergement_name2 {
  font-weight: 600;
  font-size: 16px;
  margin-left: 3px;
  padding-top: 5px;
}
/* Fin Card Appartements Hébergements à Marseille */
/* Media Queries Card Appartments Hébergements à Marseille */
@media (max-width: 768px) {
  .annonce_hebergements {
    flex-grow: 1;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
/* Fin des medias Queries Hébergements à Marseille */
/* Fin de la section Hébergements à Marseille */

/* Section hébergements populaire */
#appartments_list #popular {
  background-color: var(--lightgrey);
  width: 33%;
  border-radius: 20px;
  padding: 12px;
  height: 650px;
}
#popular_flex {
  display: flex;
  flex-direction: column;
}
.title_popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  margin-top: 0px;
}
.title_popular .title_popular_h3 {
  font-weight: 600;
  font-size: 22px;
  margin-left: 20px;
}
.title_popular i {
  font-size: 22px;
  padding-right: 42px;
}
#popular .annonce_populaire .fa.fa-star {
  font-size: 12px;
}
/* Media Queries hébergements populaires */
@media (max-width: 768px) {
  #appartments_list #popular {
    width: 100%;
  }
}
/* Card Appartments Hébergements populaires */
#popular_flex .annonce_populaire {
  display: flex;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 15px grey;
  width: 85%;
  height: 150px;
  margin-left: 20px;
}
#popular_flex .annonce_populaire img {
  width: 42%;
  margin-right: 10px;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
  padding: 5px;
}
.popular_description p {
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .annonce_populaire {
    flex-grow: 1;
    width: 100%;
  }
  .annonce_populaire img {
    width: 100%;
    object-fit: cover;
  }
  #annonce_populaire .popular_description {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
  }
}
/* Fin Hébergements Marseille / Populaire */
/* Section activités */
.activities {
  margin: 50px 0px 50px 0px;
}
.activities_list {
  display: flex;
  gap: 40px;
}
/* Colonne 1 */
.big_image_1 img {
  width: 100%;
  height: 90%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.big_image_1 {
  border: 1px thin lightslategrey;
  width: 22.5%;
  height: 500px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.big_image_1 p {
  font-weight: 600;
  padding-left: 20px;
}
.big_image_1:hover {
  /* L'image est grossie de 25% */
  -webkit-transform: scale(1.15); /* Safari et Chrome */
  -moz-transform: scale(1.15); /* Firefox */
  -ms-transform: scale(1.15); /* Internet Explorer 9 */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
}
/* Colonne 2 */
.activities_column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 22.5%;
}
.medium_image_1 {
  border: 1px thin lightslategrey;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 47%;
  width: 100%;
}
.small_image_1 {
  border: 1px thin lightslategrey;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 44%;
  width: 100%;
}
.activities_column2 p {
  font-weight: 600;
  padding-left: 20px;
}
.activities_column2 .small_image_1 img {
  width: 100%;
  height: 75%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.activities_column2 .medium_image_1 img {
  width: 100%;
  height: 80%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.medium_image_1:hover {
  /* L'image est grossie de 25% */
  -webkit-transform: scale(1.15); /* Safari et Chrome */
  -moz-transform: scale(1.15); /* Firefox */
  -ms-transform: scale(1.15); /* Internet Explorer 9 */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
}
.small_image_1:hover {
  /* L'image est grossie de 25% */
  -webkit-transform: scale(1.15); /* Safari et Chrome */
  -moz-transform: scale(1.15); /* Firefox */
  -ms-transform: scale(1.15); /* Internet Explorer 9 */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
}
/* Fin Colonne 2 */
/* Colonne 3 */
.big_image_2 img {
  width: 100%;
  height: 90%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.big_image_2 {
  border: 1px thin lightslategrey;
  width: 22.5%;
  height: 500px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.big_image_2 p {
  font-weight: 600;
  padding-left: 20px;
}
.big_image_2:hover {
  /* L'image est grossie de 25% */
  -webkit-transform: scale(1.15); /* Safari et Chrome */
  -moz-transform: scale(1.15); /* Firefox */
  -ms-transform: scale(1.15); /* Internet Explorer 9 */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
}
/* Fin Colonne 3 */
/* Colonne 4 */
.activities_column4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 22.5%;
}
.medium_image_2 {
  border: 1px thin lightslategrey;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 47%;
  width: 100%;
}
.small_image_2 {
  border: 1px thin lightslategrey;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 44%;
  width: 100%;
}
.activities_column4 p {
  font-weight: 600;
  padding-left: 20px;
}
.activities_column4 .small_image_2 img {
  width: 100%;
  height: 75%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.activities_column4 .medium_image_2 img {
  width: 100%;
  height: 80%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.small_image_2:hover {
  /* L'image est grossie de 25% */
  -webkit-transform: scale(1.15); /* Safari et Chrome */
  -moz-transform: scale(1.15); /* Firefox */
  -ms-transform: scale(1.15); /* Internet Explorer 9 */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
}
.medium_image_2:hover {
  /* L'image est grossie de 25% */
  -webkit-transform: scale(1.15); /* Safari et Chrome */
  -moz-transform: scale(1.15); /* Firefox */
  -ms-transform: scale(1.15); /* Internet Explorer 9 */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
}
/* Fin colonne 4 */
/* Media Queries Activités */
@media (max-width: 768px) {
  .activities {
    display: flex;
    flex-direction: column;
  }
  .activities_list {
    flex-direction: column;
  }
  .activities_column2 {
    width: 100%;
    gap: 40px;
    margin-bottom: 40px;
  }
  .activities_column4 {
    width: 100%;
    gap: 40px;
    margin-bottom: 40px;
  }
  .big_image_1 {
    width: 90%;
    height: 250px;
  }
  .big_image_1 img {
    height: 75%;
    width: 100%;
  }
  .big_image_2 {
    width: 90%;
    height: 250px;
  }
  .big_image_2 img {
    height: 75%;
    width: 100%;
  }
  .medium_image_1 {
    width: 90%;
    height: 250px;
  }
  .medium_image_1 img {
    height: 75%;
    width: 100%;
  }
  .medium_image_2 {
    width: 90%;
    height: 250px;
  }
  .medium_image_2 img {
    height: 75%;
    width: 100%;
  }
  .small_image_1 {
    width: 90%;
    height: 250px;
  }
  .small_image_1 img {
    height: 75%;
    width: 100%;
  }
  .small_image_2 {
    width: 90%;
    height: 250px;
  }
  .small_image_2 img {
    height: 75%;
    width: 100%;
  }
}
/* Fin section activités */

/* Footer */
footer {
  width: 100%;
  padding-left: 40px;
  background-color: var(--lightgrey);
  padding-bottom: 40px;
}
.nav_footer {
  display: flex;
  justify-content: space-between;
  width: 74%;
}
.nav_footer p {
  margin: 10px;
  font-size: 14px;
}
.nav_footer h4 {
  margin-left: 10px;
  font-weight: 600;
  padding-top: 20px;
}
