@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --blue: #0065fc;
  --lightgrey: #f2f2f2;
  --lightblue: #deebff;
}
/* Toute la page */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
* {
  font-family: "Raleway", "sans-serif";
}
a {
  color: black;
  text-decoration: none;
}
/* Header */
#lien_hebergements {
  color: var(--blue);
}
#logo_booki {
  margin-right: auto;
  padding-left: 40px;
  width: 150px;
  height: auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
nav a {
  padding: 20px;
}
#nav_phone {
  display: flex;
}
@media (max-width: 768px) {
  nav a:hover {
    border-bottom-color: var(--blue);
  }
  #nav_phone {
    flex-basis: 100%;
  }
  nav a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid var(--lightgrey);
    font-size: 15px;
    font-weight: 300;
  }
  #logo_booki {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: auto;
  }
}
/* Fin Header */

/* Main */
main {
  padding: 0px 40px;
}
/* Section 1 : Headings + Search */
h1 {
  font-size: 22px;
  font-weight: 600;
}
h1 + p {
  margin-top: -5px;
  margin-bottom: 20px;
  font-weight: 300;
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 100%;
    padding-left: 0px;
    margin-left: -10px;
    align-content: center;
  }
  h1 + p {
    margin-bottom: 30px;
    font-size: 14.5px;
    margin-left: -10px;
    width: 100%;
  }
}
/* Search bar */
#search_bar {
  display: flex;
}
#search_bar i {
  background-color: var(--lightgrey);
  border-radius: 15px 0px 0px 15px;
}
#search_bar label i {
  padding: 22px 20px;
}

#search_bar input {
  border: thin solid var(--lightgrey);
  flex-basis: 230px;
  outline-color: transparent;
  padding: 18px 20px;
}
#search_bar input::placeholder {
  color: black;
  font-weight: 600;
  font-size: 18px;
}
#search_bar button {
  background-color: var(--blue);
  color: white;
  border-radius: 0px 15px 15px 0px;
  border-width: thin;
  border-color: var(--blue);
  padding: 0px 18px;
  font-size: 18px;
  font-weight: 600;
}
#search_button + .fas.fa-search {
  display: none;
}

@media (max-width: 768px) {
  #search_bar {
    margin-left: -10px;
    height: 50px;
  }
  #search_bar label i {
    padding: 17px 18px;
  }

  button #search_button {
    display: none;
    background-color: var(--blue);
    border-radius: 15px;
  }
  #search_button + .fas.fa-search {
    background-color: inherit;
    display: inline;
  }
  #search_bar button {
    border-radius: 15px 15px 15px 15px;
    margin-left: -20px;
  }
}
/* Search bar */
/* Filters */
#filters_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 30px;
  margin-top: 30px;
}
#filters_list .filter .fas {
  color: var(--blue);
  border-radius: 50%;
  background-color: var(--lightblue);
  margin-left: -3px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter {
  border: 2px solid var(--lightgrey);
  height: 40px;
  border-radius: 30px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}
.filter span {
  font-weight: 500;
  padding-left: 15px;
}
.filter:hover {
  background-color: var(--lightgrey);
  transform: scale(1.02);
  cursor: pointer;
}
#filters_list h2 {
  font-size: 18px;
  font-weight: 500;
}
/* Note information */
#information {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
#information .fas.fa-info {
  color: var(--blue);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--lightgrey);
}
#information p {
  font-weight: lighter;
  font-size: 14px;
}

/* List Appartments */
#appartments_list {
  display: flex;
  gap: 20px;
}
#appartments_list #city {
  background-color: var(--lightgrey);
  flex-basis: 66%;
  padding: 12px;
  border-radius: 20px;
}
#appartments_list #popular {
  background-color: var(--lightgrey);
  width: 33%;
  border-radius: 20px;
  padding: 12px;
}
@media (max-width: 768px) {
  #appartments_list #popular {
    width: 100%;
  }
}
#appartments_list #city a {
  font-weight: bold;
}
#city_appartments_list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
  margin-bottom: 10px;
}

#popular_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#appartments_list #city h3 {
  flex-basis: 100%;
}

@media (max-width: 768px) {
  #appartments_list {
    flex-direction: column-reverse;
  }
}

/* Card appartments */
.stars .fa.fa-star {
  color: var(--blue);
}
.stars #star_grey {
  color: var(--lightgrey);
}
.annonce_hebergements {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px grey;
  padding: 5px;
  width: 30%;
}
.annonce_hebergements img {
  border-radius: 20px 20px 0px 0px;
  padding: 5px;
  height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.annonce_hebergements p {
  margin: 3px;
}
.annonce_hebergements h3 {
  margin: 3px;
}
.annonce_hebergements .stars {
  margin-left: 5px;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .annonce_hebergements {
    flex-grow: 1;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
/* Popular card */
#popular_flex .annonce_populaire {
  border: 1px solid blue;
  display: flex;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 15px grey;
}
#popular_flex .annonce_populaire img {
  height: 150px;
  margin-right: 10px;
  border-radius: 20px 0px 0px 20px;
}
@media (max-width: 768px) {
  .annonce_populaire {
    flex-grow: 1;
    width: 100%;
  }
  .annonce_populaire img {
    width: 100%;
    object-fit: cover;
  }
#annonce_populaire .popular_description {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}
