*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* Header */
#entete h1
{
    margin-bottom: 0px;
}
#entete p
{
    margin-top: 0px;
}

/* Body - section Hebergement Marseille */
.fa-star 
{
	color: blue;
}
#star_grey
{
	color: whitesmoke;
}
